/* variales */
:root {
    --color-primary: #FBAE3C;
    --color-secondary: unset;
    --paragraph-big: 2.35rem;
    --paragraph-small: 1.6rem;
    --heading-1: 7.2rem;
    --margin-small: 1.6rem;
}
/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');

/* css boilerplate */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background-color: unset;
    color: unset;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: unset;
    line-height: 1.6;
}
/* end of css boilerplate */
/* start of header */
header { 
    width: 100%;
    height: auto;
    position: fixed;
    padding: 4rem 6rem;
    /* background-color: rgb(29, 29, 29); */
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    /* header logo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
}
.header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header__img {
    width: 10rem;
}
.header__heading {
    font-size: 2rem;
}

.navbar {
    display: block;
}
.navbar__list {
    /* header navigation list */
    display: flex;
    gap: 8rem;
    list-style-type: none;
}
.navbar__list a {
    text-decoration: none;
}
.navbar__item {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
}
.navbar__item:hover {
    cursor: pointer;
}
.navbar__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 10%;
    background-color: white;
    transform: scaleX(0);
    transition: transform .1s,
                width .2s cubic-bezier( 1, 0, 0, 1 ) .1s;
    z-index: 1500;
}
.navbar__item:hover::after {
    transform: scaleX(1);
    width: 100%;
}
.navbar__dropdown {
    /* dropdown for header navbar */
    width: 20rem;
    position: absolute;
    background-color: rgb(29, 29, 29);
    display: none;
    list-style: none;
    transform-origin: top;
}
@keyframes aniDropdown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
.navbar__dropdown--main {
    left: -45%;
}
.navbar__dropdown--dessert {
    left: -65%;
}
.navbar__item--main:hover .navbar__dropdown--main, 
.navbar__item--dessert:hover .navbar__dropdown--dessert {
    display: block;
    background-color: black;
    animation: aniDropdown .1s;
}
.navbar__dropdown li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: white;
    transition: background-color .1s, color .1s;
}
.navbar__dropdown li:hover {
    background-color: white;
    color: rgb(29, 29, 29);
}

.header__contactUs {
    /* header contact us container */
    position: absolute;
    right: 5%;
}
.header__button {
    /* header contact us button */
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}
.header__button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/* end of header */
/* start of main */
main {
}

.landing-page__hero {
    /* hero section */
    width: 100%;
    height: 100vh;
    background-image: url(/svg/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    width: 85%;
    height: auto;
    color: white;
    padding-right: 35%;
}
.hero > * {
    margin-bottom: var(--margin-small);    
}
.hero__paragraph {
    font-size: var(--paragraph-big);  

}
.hero__paragraph--1 {
    color: #FBAE3C;
    text-transform: uppercase;
}
.hero__heading {
    color: white;
    font-size: var(--heading-1);
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1;

}
.hero__button {
    display: inline-block;
    padding: 2rem 4rem;
    background-color: white;
    font-size: var(--paragraph-big);
    font-weight: 900;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    transition: background-color .1s, translate .1s;
}
.hero__button:hover {
    background-color: var(--color-primary);
    translate: 0 -.5rem;
}
.hero__icon-container {
    
}

.product {
    width: 100%;
    height: 110vh;
}

/* end of main */
/* start of footer */
footer {

}
/* end of footer */
