*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background-color: unset;
    color: unset;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: unset;
    line-height: 1.6;
}

